* {
    margin: 0;
    padding: 0;
}

body {
    margin: 2rem;
}

#poem-btn {
    cursor: pointer;
    padding: 8px;
    margin: 8px;
    color: black;
    font-size: 20px;
    background-color: salmon;
    border-color: rgb(94, 94, 94);
    border-radius: 10px;
    box-shadow: 2px 2px rgb(44, 43, 43);
}